body,
.card {
    background-color: black;
    color: white;
}

#message-box {
    border: 5px solid white;
    border-radius: 25px;
    background-image: url("./images/background.png");
    background-attachment: fixed;
    padding: 1%;
    margin: 1%;
    
}

#input-field {
    height: 10%;
    width: 65%;
    border: 2px black;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 1%;
    font-size: 1em;
    margin: 2%;
    margin-top: 4%;
}

.checkboxes input {
  margin: 0 5px 0 5px;
}

.namesBoxes input {
    margin: 0 5px 0 5px;
    margin-top: 5px;
  }

#optionsResults {
    padding-bottom: 2%;
}



#clear-button {

    height: 10%;
    width:10%;
    border: 2px black;
    border-radius: 10px;
    padding-right: 25px;
    padding-left : 20px;
    font-size: 1.75em;
    margin-top: 4%;
    margin-right: 3%;
}

#names {
    margin-left: 35%;
    margin-top: 1%;
    position: absolute;
    left: 35px;
    top: 15px;
    z-index: 1;
}

#options {
    margin-left: 70%;
    padding-bottom: 2%;
    position: absolute;
    left: 2px;
    top: 125px;
    z-index: 1;
    
}

.header-wrapper {
    padding-top: 245px;
}

.nav-wrapper {
    background-color: black;
}

.label {
    color: black;
}

.modalBox {
    outline: 2px solid black;
}

.modalBg {
    background-color: black;
}

.modal-header {
    background-color: rgba(4, 184, 165);
}

.modal-body {
    background-color: white;
}

.modal-footer {
    background-color: rgba(4, 184, 165);
}

.flipTheme {
    background-color: lightslategray;
    color: rgba(4, 184, 165);
    text-shadow:
     .25px .25px 0 #000,
     -.25px -.25px 0 #000,  
     .25px -.25px 0 #000,
     -.25px .25px 0 #000,
     .25px .25px 0 #000;
    background-image: url("./images/flip_background.png");
    background-attachment: fixed;
}

.bumbleTheme {
    background-color: rgb(255,249,51);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .50px black;
   text-shadow:
    .25px .25px 0 #000,
    -.25px -.25px 0 #000,  
    .25px -.25px 0 #000,
    -.25px .25px 0 #000,
    .25px .25px 0 #000;
}

.tinderTheme {
    background-color: rgb(241, 31, 31);
    color: white;
    -webkit-text-stroke: .50px black;
    text-shadow:
     .25px .25px 0 #000,
     -.25px -.25px 0 #000,  
     .25px -.25px 0 #000,
     -.25px .25px 0 #000,
     .25px .25px 0 #000;
}

.plentyTheme {
    background-color: rgb(0,53,148);
    color: rgb(134,147,151);
    -webkit-text-stroke: .50px black;
    text-shadow:
     .25px .25px 0 #000,
     -.25px -.25px 0 #000,  
     .25px -.25px 0 #000,
     -.25px .25px 0 #000,
     .25px .25px 0 #000;
}

.matchTheme {
    background-color: orange;
    color: rgb(255, 255, 255);
    stroke: 2px;
    -webkit-text-stroke: .50px black;
    text-shadow:
     .25px .25px 0 #000,
     -.25px -.25px 0 #000,  
     .25px -.25px 0 #000,
     -.25px .25px 0 #000,
     .25px .25px 0 #000;
}

.callanTheme {
    background-image: url("./images/poo.jpg");
    color: rgb(255, 255, 255);
    stroke: 2px;
    -webkit-text-stroke: .50px black;
    text-shadow:
     .25px .25px 0 #000,
     -.25px -.25px 0 #000,  
     .25px -.25px 0 #000,
     -.25px .25px 0 #000,
     .25px .25px 0 #000;
}
