body,
.card {
    background-color: black;
    background-image: url("./images/background.png");
    color: white;
}

#message-box {
    border: 2px solid white;
    padding: 1%;
    margin: 2%;
}

.flipTheme {
    background-color: gainsboro;
    color: darkcyan;
}

#input-field {
    border: 2px cyan;
    background-color: black;
    color: white;
    height: 15%;
    width: 65%;
    margin: 1%;
    padding-top: 2%;
}

#names {
    margin-left: 35%;
      
}

#options {
    margin-left: 80%;
    
}